src/main/mule/testchatgpt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="testchatgptFlow" doc:id="84829691-eb7b-4902-ba2a-b9bcf4fc0816" >
		<http:listener doc:name="HTTPListener" doc:id="9ebdd1c2-53f4-41ee-80c8-5550a19679e5" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="2eed1105-ad70-4909-979c-dd35ac8dce1c" message="Payload is = #[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2a80da69-e9bf-4a03-9a34-20645506f754" />
	</flow>
</mule>
